.App {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.reg-login {
  width: 250px;
  padding-bottom: 20px;
}

form.reg-login > label {
  margin: 5px;
  display: block;
  text-align: left;
  padding: 10px 0 0 10px;
}
form.reg-login > input {
  display: block;
  width: 200px;
  margin: 10px 0 0 15px;
  padding-left: 5px;
  line-height: 1.4rem;
}

form.reg-login > input:focus-visible {
  outline-color: purple;
}

form.reg-login > input[type="submit"] {
  width: 210px;
  background-color: #c69af1;
  color: whitesmoke;
  border-radius: 4px;
  line-height: 1.6rem;
  font-size: 1.1rem;
}

input[type="submit"] {
  cursor: pointer;
}

#have-account {
  margin-top: 10px;
}

#avatar-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(168, 93, 168);
  cursor: pointer;
}

.home {
  background-color: #c69af1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid black;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    .sidebar {
      background-color: #a26fd5;
      border-right: 1px solid black;
      flex: 1;

      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: #6716d8;
        height: 50px;

        .logo {
          padding-left: 10px;
          font-weight: bold;
        }

        .user {
          display: flex;
          gap: 10px;
          padding-right: 5px;

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            color: whitesmoke;
            background-color: #a26fd5;
            border: 1px solid black;
            cursor: pointer;
          }
          

        }
      }

      .search {
        .search-form {
          margin-top: 10px;
          border-bottom: 1px solid black;

          input[type='text'] {
            outline: none;
            border: none;
            background-color: #a26fd5;
            color: #6716d8;
            margin-bottom: 5px;
            &::placeholder {
              color:#6716d8
            }
          }
        }
      }

      .chats {
        .user-chat {
          display: flex;
          align-items: center;
          gap: 10px;
          height: 60px;
          border-bottom: 1px solid black ;
          cursor: pointer;

          &:hover {
            background-color: #8e239e;
          }

          img {
            padding-left: 10px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }

          .user-chat-info {
            span.name {     
              display: block;       
              text-align: left;
              margin-bottom: 10px;
              font-weight: bolder;
            }

            .latest-message {
              display: block;
              text-wrap: nowrap;
              padding-right: 10px;
              margin: 0;
            }
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chat-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        background-color: #9454ee;

        .username {
          padding-left: 15px;
          font-weight: bolder;
        }

        .chat-icons * {
          padding-right: 10px;
          height: 24px;
          width: 24px;
          color: white;
        }
      }

      .messages {
        background-color: aliceblue;
        padding: 10px;
        height: calc(100% - 120px );
      }

      .input {
        height: 50px;
        background-color: rgb(149, 149, 244);
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type='text'] {
          margin-left: 5px;
          padding: 5px;
          outline: none;
          border: none;
        }

        .send {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .send-icons {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }

          button {
            padding: 5px 10px 5px 10px;
            margin-right: 10px;
            background-color: #617dfb;
            cursor: pointer;
          }
        }
      }
    }
  }
}
